# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/accrual/main
cmd/accrual/accrual*
cmd/gophermart/main
cmd/gophermart/gophermart

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
.continue
.editorconfig
scripts

# environments
.env

# sqlite3
*.db

thoughts/
tools/

A*.md
TODO.md
*.log