# Copy the content of this file inti values.secret.yaml and specify the real values.
# Git ignores values.secret.yaml file
postgresql:
  password: "secret"

s3:
  accessKey: "gk_server_access_key"
  secretKey: "G0phK33p3rS3rv3r!"
